.wrapper-header {
display: grid;
grid-template-columns: 25% 50% 25%; 
background-color: #fff;
}

.box-header {
    color: #797979;
    font-size: 120%;
    padding-left: 50px;
    padding: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Roboto', sans-serif;
}

